@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  font-weight: bold;
}

a {
  display: flex;
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}